@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply scroll-smooth;
  }
  [x-cloak] {
    display: none !important;
  }
  body {
    @apply bg-white;
  }

  /* Button*/
  .btn{
    @apply inline-block px-4 py-2 bg-black/5 rounded-lg text-sm font-normal text-black hover:bg-black hover:text-white transition-all duration-300;
  }
  /* scrollbar */
  ::-webkit-scrollbar {
    @apply bg-transparent w-1.5 h-1.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-black/10;
  }
  .main-container .main-content {
    @apply transition-all duration-300 lg:ml-[212px] xl:mr-[280px];
  }
  /* Vertical layouts */
  .vertical.toggle-sidebar .main-container .main-content {
    @apply ml-0;
  }
  .vertical .sidebar {
    @apply -left-[212px] lg:left-0;
  }
  .vertical.toggle-sidebar .sidebar {
    @apply left-0 lg:-left-[212px];
  }
  .vertical.right-sidebar .main-container .main-content {
    @apply mr-0;
  }
  .vertical .right-sidebar {
    @apply -right-[280px] xl:right-0;
  }
  .vertical.right-sidebar .right-sidebar {
    @apply right-0 xl:-right-[280px];
  }

  /* Sidebar */
  .sidebar:hover .nav-item > a {
    @apply w-auto;
  }
  .sidebar .nav-item > a {
    @apply  mb-1 px-2 py-1 flex items-center overflow-hidden whitespace-nowrap rounded-md gap-1 text-black hover:bg-black/10  hover:text-black;
  }
  .sidebar .nav-item > a.active {
    @apply bg-black/10 text-black;
  }
  .sidebar ul.sub-menu li a {
    @apply flex items-center relative pl-[3.3rem] px-4 py-1 hover:bg-black/5 rounded-lg hover:text-black hover:before:h-4 hover:before:w-1 hover:before:bg-black hover:before:absolute hover:before:top-[6px] hover:before:left-0 hover:before:rounded-[3px];
  }
  .sidebar ul.sub-menu li a.active {
    @apply text-black bg-black/5 before:h-4 before:w-1 before:bg-black before:absolute before:top-[6px] before:left-0 before:rounded-[3px];
  }

  /* profile-dropdown */
  .profile {
    @apply relative;
  }
  .profile ul {
    @apply absolute z-10 mt-2 min-w-[120px] rounded bg-white right-0 text-black/60 top-11 !py-0 w-40 shadow-3xl;
  }
  .profile ul li > a,
  .profile ul li > button,
  .profile ul li > div {
    @apply flex items-center px-4 py-2 hover:bg-black/5 hover:text-black;
  }

  /* tables */
  .table-responsive {
    @apply overflow-auto;
  }
  table {
    @apply w-full !border-collapse;
  }
  table thead tr,
  table tfoot tr {
    @apply border-b border-black/20 whitespace-nowrap;
  }
  table thead tr th,
  table tfoot tr th,
  table tbody tr td {
    @apply py-2 px-4 text-left;
  }
  table thead tr th,
  table tfoot tr th {
    @apply font-normal text-black/40 text-xs ;
  }
  table tbody tr {
    @apply border-b-0;
  }
  table.table-hover tbody tr {
    @apply hover:bg-black/5;
  }
  table.table-striped tbody tr:nth-child(odd) {
    @apply bg-black/10;
  }
 /*** from****/
  /* Form fields */
  .form-input,
  .form-select,
  .form-multiselect {
    @apply w-full p-0 text-black border-0 text-sm font-normal placeholder-black/20 focus:ring-0 focus:ring-transparent;
  }

  .budget-input .form-checkbox {
    @apply h-6 w-6 text-black border-2 border-black/10 shadow-none outline-none ring-0 rounded-full ring-offset-0;
  }
  .budget-input .form-checkbox:checked {
    @apply border-black ring-0;
  }
  .budget-input .form-checkbox:focus,
  .budget-input .form-checkbox:checked:hover,
  .budget-input .form-checkbox:checked:focus {
    @apply border-[#F7F9FB] border-black/10 ring-0 ring-offset-0 ring-transparent;
  }
  .togglebutton input:checked ~ .band{
    @apply bg-black;
  }
  .togglebutton input:checked ~ .dot {
    transform: translateX(100%);
    background-color: white;
  }

  .loginform .form-input,
  .loginform .form-select,
  .loginform .form-textarea{
    @apply py-2.5 px-4 w-full text-black border border-black/10 rounded-lg placeholder:text-black/20 focus:border-black focus:ring-0 focus:shadow-none;
  }

  /*swiper css*/
  .swiper{
    @apply w-full h-full;
  }
}

.apexcharts-legend{
  @apply gap-1 sm:gap-4;
}
#totalsales .apexcharts-legend{
  @apply gap-0 mx-auto;
}
